/* VARIABLES */
:root {
  --main-text-color: #333;
  --title-color: #000;
  --text-color: #777;
  --link-color: #fff;
  --link-redcolor: #ea625c;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-regular.woff') format('woff');
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-700.woff') format('woff');
}

/* GENERAL */

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}

/* Site header start */
.site-header {
  padding: 30px 0px 96px 0px;
}

.header-box-primary {
  display: flex;
  /* align-items: center; */
}

.header-logo-link {
  margin-right: auto;
}

.header-list {
  padding: 0px;
  display: flex;
  list-style-type: none;
}

.header-item {
  margin-right: 30px;
}

.header-item:last-child {
  margin-right: 0px;
}

.header-item-link {
  padding-bottom: 6px;
  font-size: 15px;
  line-height: 150%;
  color: var(--main-text-color);
  text-decoration: none;
}

.header-item-link:hover {
  border-bottom: 2px solid #000;
  transition: all 0.2s ease;
}

.input-search {
  width: 169px;
  font-size: 15px;
line-height: 150%;
border: none;
border-bottom: 1px solid #333;
color: #666666;
}
/* Site header end */

/* Site main start */

/* Section freedom start */
.freedom {
  padding-top: 90px;
  padding-bottom: 185px;
  border-bottom: 1px solid #000;
}

.freedom-box-primary {
  position: relative;
  width: 490px;
}

.freedom-box-primary::after {
  content: "";
  position: absolute;
  top: -89px;
  left: 173%;
  width: 587px;
  height: 565px;
  background-image: url("../images/apple-watch.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.freedom-title {
  margin: 0px;
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 120%;
  font-weight: 700;
  color: var(--title-color);
}

.freedom-text {
  margin: 0px;
  margin-bottom: 30px;
  padding-left: 40px;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color);
  border-left: 3px solid #888;
}

.freedom-link {
  display: inline-block;
  padding: 12px 39px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--link-color);
  text-transform: uppercase;
  text-decoration: none;
  background: var(--link-redcolor);
}

.freedom-link:hover {
  background-color: #c9514c;
  ;
}

/* Section freedom end */

/* Section just start */
.just {
  padding: 68px 0px 70px 0px;
}

.just-list {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.just-item {
  width: 280px;
}

.just-item-title {
  margin: 0px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.just-item-text {
  font-size: 15px;
  line-height: 160%;
  color: var(--main-text-color);
  margin: 0px;
  margin-bottom: 20px;
}

.just-item-tiny {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  background: #ddd;
}

.just-item-link {
  display: inline-block;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
  color: var(--link-redcolor);
  text-decoration: none;
}

.just-item-link-tiny {
  display: inline-block;
  width: 40px;
  margin-right: 12px;
  margin-bottom: 3px;
  border-top: 3px solid var(--link-redcolor);
}

.just-item-link:hover .just-item-link-tiny {
  width: 60px;
  transition: all 0.3s ease;
}

/* section just end */

/* section nike start */
.nike {
  position: relative;
  padding-top: 106px;
  padding-bottom: 106px;
  margin-bottom: 70px;
}

.nike-box-primary {
  width: 490px;
}

.nike-link {
  padding: 12px 90px;
}

.nike-img {
  position: absolute;
  right: 352px;
  bottom: -1px;
  width: 400px;
  height: 600px;
  background-image: url("../images/nike-watch.jpg");
}

/* section nike end */

/* section control start */
.control {
  padding: 240px 0px 240px 0px;
  background-image: url("../images/control.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.control-box-primary {
  margin-left: auto;
  width: 490px;
}

.control-title {
  color: var(--link-color);
}

.control-text {
  color: var(--link-color);
  border-left: 3px solid var(--link-color);
}

/* section control end */
/* Site main end */